.popup__input-error {
    display: inline-block;
    margin: 0px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FF0000;
    min-height: 24px;
}