.popup__container {
    position: relative;
    top: 32%;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 36px;
    background-color: white;
    border-radius: 10px;
    max-width: 358px;
    max-height: 100%;
    margin: auto;
}

@media screen and (max-width: 621px) {
    .popup__container {
        padding: 25px 22px 25px;
        max-width: 238px;
    }
}